{% extends "layout.html" %}

{% block title %}Credenciales{% endblock %}

{% block content %}
<div class="credenciales-container">
    <h1>Credenciales</h1>
    <div class="credenciales-list">
        {% for credential in credentials %}
        <div class="credencial-item">
            <div class="info">
                <p><strong>Nombre Sitio:</strong> {{ credential['nombre_sitio'] }}</p>
                <p><strong>URL Sitio:</strong> <a href="{{ credential['url_sitio'] }}" target="_blank">{{ credential['url_sitio'] }}</a></p>
                <p><strong>Nombre Usuario:</strong> {{ credential['nombre_usuario_sitio'] }}</p>
                <p><strong>Contraseña Sitio:</strong> {{ credential['contraseña_sitio_hash'] }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}